---
layout: base.njk
mainId: about
---
<h2 class="page-header"><a href="/">About</a></h2>

<div class="blob">
  <p>Hello, I'm {{ site.title }}, this is my website. I'm an engineer, drummer and generally curious person based, as of 2026, in Torre Del Greco (Italy), the city between Vesuvius and the sea.</p>

  <p>I grew up in the Napoli area, have a Bachelor's Degree in Computer Engineering from the <a href="https://www.unina.it/">Università degli Studi di Napoli Federico II</a>, and I'm currently pursuing my MSc in Internet and Cloud there as well.</p>

  <p>I'm also attending the <a href="https://www.developeracademy.unina.it/it/">Apple Developer Academy</a>, and have previously completed the <a href="https://www.dtlabnetworkingbootcamp.it/">Cisco DTLab</a> program.</p>

  <p><strong>I'm open to new opportunities and collaborations! Reach out on <a href="https://linkedin.com/in/vincenzo-gerelli/">LinkedIn</a> or check my <a href="/files/resume.pdf">resume</a>.</strong></p>

  <address class="no-decoration-address">
    You can reach me by email at <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>.
  </address>

  <p>Here are some photos of my city:</p>
  <div class="flex-image-container">
    <p><img src="/img/city-1.jpg" alt="A photo of Torre Del Greco"></p>
    <p><img src="/img/city-2.jpg" alt="A photo of Torre Del Greco"></p>
  </div>
</div>
