---
layout: base.njk
mainId: now
title: Now
permalink: /now/
---
<h2 class="page-header"><a href="/now/">Now</a></h2>

<div class="blob">
  <div class="section">
    <p>A <em>"Now"</em> page tells you what I'm focused on at this point in my life.</p>
    <ul>
      <li>Pursuing my MSc in Internet and Cloud at <a href="https://www.unina.it/">Federico II</a>.</li>
      <li>Attending the Pier Program at the <a href="https://www.developeracademy.unina.it/it/">Apple Developer Academy</a>.</li>
      <li>Open to new opportunities and collaborations.</li>
    </ul>
    <p class="post-date">Last updated: June 2026</p>
  </div>
</div>
