---
layout: base.njk
mainId: portfolio
title: Portfolio
permalink: /portfolio/
---
<h2 class="page-header"><a href="/portfolio/">Portfolio</a></h2>

<ul class="post-list">
{%- for progetto in collections.project | sort(false, false, "data.order") %}
  <li class="project">
    <div class="project-header">
      <h3 class="project-name">
        <a href="{{ progetto.url }}">{{ progetto.data.title }}</a>
      </h3>
      <div class="index-item-header">
        {% if progetto.data.immagine %}
        <div class="cover">
          <a href="{{ progetto.url }}">
            <img src="{{ progetto.data.immagine }}" alt="Screenshot of {{ progetto.data.title }}"/>
          </a>
        </div>
        {% endif %}
        <div class="{% if not progetto.data.immagine %}full-width{% endif %}">
          <div class="project-details">
            {% if progetto.data.anno %}
            <p class="project-date-range">{{ progetto.data.anno }}</p>
            {% endif %}
            {% if progetto.data.ruolo %}
            <p class="project-role">{{ progetto.data.ruolo }}</p>
            {% endif %}
            {% if progetto.data.tech %}
            <ul class="project-tag-list">
              {%- for t in progetto.data.tech %}
              <li>{{ t }}</li>
              {%- endfor %}
            </ul>
            {% endif %}
          </div>
          {% if progetto.data.sommario %}
          <p class="project-short-description">{{ progetto.data.sommario }}</p>
          {% endif %}
          <p class="read-more">
            <a href="{{ progetto.url }}">Read More →</a>
          </p>
        </div>
      </div>
    </div>
  </li>
{%- endfor %}
</ul>
